<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756275905150-c96bi5787gdrpb0mqdbl906kkpifk5q3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756275905150-c96bi5787gdrpb0mqdbl906kkpifk5q3</string>
	<key>API_KEY</key>
	<string>AIzaSyCAkQbpFDtrCsZE7gz6X35X93t8D9YdItg</string>
	<key>GCM_SENDER_ID</key>
	<string>756275905150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bool.LetsHaveFunLabs</string>
	<key>PROJECT_ID</key>
	<string>booluva-69130</string>
	<key>STORAGE_BUCKET</key>
	<string>booluva-69130.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756275905150:ios:f199e4b04688d400934e2f</string>
	<key>DATABASE_URL</key>
	<string>https://booluva-69130.firebaseio.com</string>
</dict>
</plist>